{% extends 'layout.html' %}
{% block head %}
<title>Details</title>
{% load static %}
<!-- Linking JQuery library for making asynchronous requests -->
<script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
        crossorigin="anonymous"></script>

<!-- Linking my own js file to handle prompts for deleting mails -->
<script src="{% static 'js/delete_mail.js' %}"></script>
{% endblock %}

{% block body %}
<!-- Displaying all the details of the mail -->
<div id="mail_details">
    <h1>The details of your mail are as under</h1>
    <div><h4>Sent by: {{mail.user}}</h4></div>
    <div><h4>Sent to : {{mail.recipient}}</h4></div>
    <div><h4>Sent on : {{mail.date_time}}</h4></div>
    <div><h4>Subject : {{mail.subject}}</h4></div>
    <div><h4>Body : {{mail.body}}</h4></div>
    <div><h4>Status : The mail is {{mail.status}}</h4></div>
</div>

<!-- Adding option to go back to update mail -->
<div id="update">
    <h4>Click here to Update the mail</h4>
    <a href="{% url 'email_functionality:update' pk=mail.id %}">
        <button>
            Update
        </button>
    </a>
</div>

<!-- Adding option to go back to delete the mail -->
<div>
    <h4>Click here to Delete the mail</h4>
    <input type="hidden" name="csrfmiddlewaretoken" id="csrfToken" value="{% csrf_token %}">
    <a id="delete" data-mail-url="{% url 'email_functionality:delete' pk=mail.id %}">
        <button id="delete_button">
            Delete
        </button>
    </a>
</div>


<!-- Adding option to go back to the previous page -->
<div id="back">
    <h4>Click here to go back</h4>
    <a href="javascript:history.back()">
        <button id="back_button">
            Back
        </button>
    </a>
</div>


{% endblock %}