{% extends 'layout.html' %}

{% block head %}
<title>Homepage</title>
{% endblock %}

{% block body %}
<h1>Hey</h1>
<!-- Displaying the option to register -->
<div>If you are a new user. Click Here:
<a href="{% url 'users:register' %}">
    <button>
        Register
    </button>
</a>
</div>
<br>
<br>
<!-- Displaying the option to login -->
<div>Already have an account. Click Here:
<a href="{% url 'users:login' %}">
    <button>
        Login
    </button>
</a>
</div>
{% endblock %}